@import url('https://fonts.googleapis.com/css2?family=Rufina&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } 
  
  html, body {
    height: 100%;
    width: 100%;
    color: #100f0f;
    background-color:  floralwhite;
  }

  .container h1{
    font-family: 'Rufina', serif;
    font-size: 200%;
    padding: 15px;
    margin-left: 10px;
  }

  strong {
  color: #E1603C;
  }

  .content__oi {
    font-family: 'Bellota Text', cursive, sans-serif;
    text-align: justify;
    font-size: 130%;
    margin-inline: 26px;
    /* padding: 5px;
    margin-left: 15px; */
  }

  .proflile-foto img{
    width: 230px;
    height: 230px;
    border-radius: 10%;
    border: 3px solid #E1603C;
  }
  
  .proflile-foto{
    text-align: left;
    padding-left: 25px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  section h3{
    font-family: 'Belleza', sans-serif;
    font-size: 35px;
    margin-left: 25px;
    text-align: left;
  }

  section p{
    font-family: 'Bellota Text', cursive, sans-serif;
    font-size: 115%;
    text-align: justify;
    padding: 3px;
    margin-inline: 26px;
  }

  footer img{
    width: 40px;
    height: 40px;
  }

  footer{
    display: flex;
    justify-content: center;
    margin-top: 10%;
  }

  footer a{
    margin: 15px;
    text-align: center;
    text-decoration: none;
  }
  
  footer p{
    color: black;
    font-family: 'Bellota Text', cursive, sans-serif;
    margin-top: 2px;
    text-align: center;
  }

  #email{
    font-family: 'Bellota Text', cursive;
    font-size: 115%;
    text-align: center;
    padding-bottom: 3%;
  }
